.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
   background-color: rgb(208, 214, 220);
   
}
   h1{ font-family: "Great Vibes", cursive;
        font-size: 2000%;
  font-weight: 1000;
  font-style: normal;
  color: blue;
  text-align: center;
  padding: -400px;
    }
    h2{
        font-size: 500%;
        font-family: Arial, Helvetica, sans-serif;
        color: blue;
        text-align: center;
        padding-top: -10000px;
    }
.image-stack {
    position: relative;
    width: 2000px;
}

.cowboyjonah{
    position: absolute;
    top: 25%;
    left: 1000px;
    width: 200px;
    z-index: 2;
}

.three {
    position: absolute;
    top: 25%;
    left: 500px;
    width: 300px;
    z-index: 2;
}

.ANNIE {
    position: absolute;
    top: 70%;
    left: 900px;
    width: 310px;
    z-index: 2;
}

.antlerssss{position: absolute;
    top: 65%;
    left: 720px;
    width: 200px;
    z-index: 2;}

.blurrrr{position: absolute;
    top: 40%;
    left: 1500px;
    width: 175px;
    z-index: 2;}

.garden1{position: absolute;
    top: 20%;
    left: 1450px;
    width: 130px;
    z-index: 2;}

.goldern1{position: absolute;
    top: 40%;
    left: 900px;
    width: 275px;
    z-index: 2;}

.Jonaherikaelsies{position: absolute;
    top: 44%;
    left: 710px;
    width: 150px;
    z-index: 2;}

.NV{position: absolute;
    top: 70%;
    left: 400px;
    width: 200px;
    z-index: 2;}

.quotecard{position: absolute;
    top: 28%;
    left: 900px;
    width: 200px;
    z-index: 2;}

.shad{position: absolute;
    top: 80%;
    left: 1280px;
    width: 400px;
    z-index: 2;}

  .infocard{position: absolute;
    top: 75%;
    left: 1300px;
    width: 200px;
    z-index: 3;}

.infocard:hover{
    transform: scale(5);
}
.shad:hover{
    transform: scale(2);
}
.quotecard:hover{
    transform: scale(5);
}
.NV:hover{
    transform: scale(2);
}
.Jonaherikaelsies:hover{
    transform: scale(4);
}
.goldern1:hover{
    transform: scale(3);
}
.garden1:hover{
    transform: scale(2);
}
.blurrrr:hover{
    transform: scale(2);
}
.antlerssss:hover{
    transform: scale(2);
}
.ANNIE:hover{
    transform: scale(1.5);
}
.three:hover{
    transform: scale(2);
}
.cowboyjonah:hover{
    transform: scale(2);
}



.background {
    width: 100%;
display: block;

}